/* stylelint-disable no-duplicate-selectors */
@use "sass:map";
@use "sass:math";
@use "sass:list";
@use "sass:string";
@use "sass:meta";

@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/functions" as *;
@use "@/styles/abstracts/mixins" as *;

@use "@/styles/base" as *;

@use "@/styles/components/atoms/box" as *;

body {
 font-family: var(--font-family-root);
 font-size: var(--fs-140);
 color: var(--white-100);
 background-color: var(--white-100);
} // body

a,
body {
 font-family: var(--font-family-root);
} // body

.wrapper {
 min-height: 2000px;
} // .wrapper

.container-fix {
 @include mx(auto);
 @include px(3rem);
 width: 100%;
 max-width: var(--w-xl-1000);
} // .container-fix

.top-bar {
 @include flex-center-y;
 width: 100%;
 min-height: clamp(10rem, vw(16rem), 16rem);
 background-color: var(--blue-100);

 &__row {
  display: flex;
  justify-content: space-between;
 }

 &__col {
  &--1 {
   text-decoration: none;
  }

  &--2 {
   text-decoration: none;
  }
 }
}

.icon-width-35 {
 width: 35%;
 height: auto;
}

.icon-width-40 {
 width: 40%;
 height: auto;
}

.icon-width-45 {
 width: 45%;
 height: auto;
}

.icon-width-50 {
 width: 50%;
 height: auto;
}
